.quote-box{
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 2%;
}
#author{
text-align: right;
}
#new-quote{
  width: 40%;
}
.button-row{
  margin-top: 25px;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
#text{
  font-size: 1.6rem;
  animation: fadeIn 3s;
}
body{
  background: rgb(35, 0, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500px;
  margin: auto;
  animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}